<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>  </title>
</head>
<body>

	안녕하세요. <br/>
	
	ballochilly를 이용해주셔서 감사합니다. <br/>
	
	회원님의 임시비밀번호는 [${tempPassword}] 입니다.<br/>
						
</body>
</html>